*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.idea/*
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/certs/app_key.pem
/config/database.yml
/config/app_config.yml
/config/initializers/omniauth.rb
/config/initializers/secret_token.rb
/public/uploads
*.gem

